<div class="form-container">
    <h2>Add a Nutritionist</h2>
    <form [formGroup]="nutritionistForm" (ngSubmit)="onSubmit()">
  
      <!-- hidden UserInfo-only fields -->
      <input type="hidden" formControlName="user_type" value="NUTRITIONIST">
      <input type="hidden" formControlName="roles" value="NUTRITIONIST">
      <input type="hidden" formControlName="enabled" value="true">
  
      <!-- Name -->
      <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" placeholder="Enter full name">
        <div *ngIf="nutritionistForm.get('name')?.touched && nutritionistForm.get('name')?.invalid">
          <small class="error-text">Full Name is required</small>
        </div>
      </div>
  
      <!-- Password -->
      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" placeholder="Enter a password">
        <div *ngIf="nutritionistForm.get('password')?.touched && nutritionistForm.get('password')?.invalid">
          <small class="error-text">Password is required</small>
        </div>
      </div>
  
      <!-- Email -->
      <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="Enter email">
        <div *ngIf="nutritionistForm.get('email')?.touched && nutritionistForm.get('email')?.invalid">
          <small class="error-text">Valid email is required</small>
        </div>
      </div>
  
      <!-- Phone -->
      <div class="form-group">
        <label>Phone</label>
        <input type="text" formControlName="phone" placeholder="Enter phone number">
        <div *ngIf="nutritionistForm.get('phone')?.touched && nutritionistForm.get('phone')?.invalid">
          <small class="error-text">Phone number is required</small>
        </div>
      </div>
  
      <!-- Salary -->
      <div class="form-group">
        <label>Salary</label>
        <input type="number" formControlName="salary" placeholder="Enter salary">
        <div *ngIf="nutritionistForm.get('salary')?.touched && nutritionistForm.get('salary')?.invalid">
          <small class="error-text">Salary must be a positive number</small>
        </div>
      </div>
  
      <!-- Hiring Date -->
      <div class="form-group">
        <label>Hiring Date</label>
        <input type="date" formControlName="hiredDate">
        <div *ngIf="nutritionistForm.get('hiredDate')?.touched && nutritionistForm.get('hiredDate')?.invalid">
          <small class="error-text">Hiring Date is required</small>
        </div>
      </div>
  
      <!-- Submit Button -->
      <div class="form-buttons">
        <button type="submit" [disabled]="nutritionistForm.invalid">
          Add Nutritionist
        </button>
        <button type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
  