<section class="astroid-section top-bar" id="ts-531555558345677">
  <div class="container">
    <div class="astroid-row row" id="ar-151555558345677">
      <div class="astroid-column col-lg-6 col-md-12 col-sm-12 col-12" id="ac-911555558345677">
        <div class="astroid-module-position hideonmd" id="si-821555558388731">
          <div class="astroid-social-icons row">
            <div class="col"><a title="Facebook" href="https://www.facebook.com/templaza" target="_blank"
                                rel="noopener"><i class="fab fa-facebook-f"></i></a></div>
            <div class="col"><a title="Twitter" href="https://twitter.com/templazavn" target="_blank" rel="noopener"><i
              class="fab fa-twitter"></i></a></div>
            <div class="col"><a title="Github" href="https://github.com/templaza" target="_blank" rel="noopener"><i
              class="fab fa-github"></i></a></div>
            <div class="col"><a title="Dribbble" href="https://dribbble.com/templaza" target="_blank" rel="noopener"><i
              class="fab fa-dribbble"></i></a></div>
            <div class="col"><a title="YouTube" href="https://www.youtube.com/channel/UCykS6SX6L2GOI-n3IOPfTVQ/videos"
                                target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a></div>
          </div>
        </div>
      </div>
      <div class="astroid-column col-lg-6 col-md-12 col-sm-12 col-12" id="ac-181555558361540">
        <div class="astroid-module-position d-flex justify-content-end hideonxs hideonsm" id="i-471555558453611">
          <div class="astroid-contact-info">
            <span class="astroid-contact-address">
              <i class="fas fa-map-marker-alt"></i>
              1826 Locust Street, Bainbridge </span>




            <span class="astroid-contact-openhours">
              <i class="far fa-clock"></i>
              Mon-Fri: 9:00am - 10:00pm </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="astroid-section astroid-header-section" id="hs-1529472563843">
  <div class="container">
    <div class="astroid-row row no-gutters gx-0" id="ar-1529472563843">
      <div class="astroid-column col-lg-12 col-md-12 col-sm-12 col-12" id="ac-1529472563843">
        <div class="astroid-module-position" id="jh-1529472563843"><!-- header starts -->
          <header id="astroid-header" class="astroid-header astroid-horizontal-header astroid-horizontal-center-header"
                  data-megamenu="" data-megamenu-class=".has-megamenu" data-megamenu-content-class=".megamenu-container"
                  data-dropdown-arrow="false" data-header-offset="true" data-transition-speed="100"
                  data-megamenu-animation="slide" data-easing="linear" data-astroid-trigger="hover"
                  data-megamenu-submenu-class=".nav-submenu,.nav-submenu-static">
            <div class="d-flex flex-row justify-content-between">
              <div class="d-flex d-lg-none justify-content-start">
                <div class="header-mobilemenu-trigger d-lg-none burger-menu-button align-self-center"
                     data-offcanvas="#astroid-mobilemenu" data-effect="mobilemenu-slide">
                  <button aria-label="Mobile Menu Toggle" class="button" type="button"><span class="box"><span
                    class="inner"><span class="visually-hidden">Mobile Menu Toggle</span></span></span></button>
                </div>
              </div>
              <div class="header-left-section d-flex justify-content-start">
                <!-- logo starts -->
                <!-- image logo starts -->
                <div class="logo-wrapper astroid-logo">
                  <a target="_self" class="astroid-logo astroid-logo-image d-flex align-items-center mr-0 mr-lg-4"
                     href="index-2.html">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 181.54 40"
                         class="astroid-logo-default" width="145px">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #cdde6a;
                          }

                          .cls-2 {
                            fill: #fff;
                          }
                        </style>
                      </defs>
                      <g id="Group_4" data-name="Group 4">
                        <path id="Path_1" data-name="Path 1" class="cls-1"
                              d="M884.89,479.75h1.44c1.2,0,2.17-2.61,2.17-5.84s-1-5.85-2.17-5.85h-1.44c1,1.24,1.44,3.6,1.44,5.85S885.87,478.52,884.89,479.75Z"
                              transform="translate(-855.81 -468.06)"></path>
                        <path id="Path_2" data-name="Path 2" class="cls-1"
                              d="M859.43,468.06H858c-1.2,0-2.18,2.62-2.18,5.85s1,5.84,2.18,5.84h1.44c-1-1.23-1.44-3.6-1.44-5.84S858.45,469.3,859.43,468.06Z"
                              transform="translate(-855.81 -468.06)"></path>
                        <path id="Path_3" data-name="Path 3" class="cls-1"
                              d="M900.78,488.77s-8.29-10.67-16.58,0c0,0,5.07.31,6.14,3.87,0,0-4.6-7.11-14.73.92l-2.76,1.86,2-2.63s-.62-4.79-3.07-7.73v-5.77l-.88-.76.88.5s3.33,0,4.72-2.51h3.78c.29,2.79,1.24,4.83,2.36,4.83,1.35,0,2.45-3,2.45-6.64s-1.1-6.65-2.45-6.65c-1.12,0-2.07,2.05-2.36,4.83H877a5.81,5.81,0,0,0-1.75-2.85,1.57,1.57,0,0,0-1.89-.18l-1.54,1a6,6,0,0,0-4,2.06h-4.11c-.3-2.79-1.24-4.84-2.36-4.84-1.36,0-2.46,3-2.46,6.65s1.1,6.64,2.46,6.64c1.12,0,2.06-2,2.36-4.83h3.06c-.76,5.08-4.3,16.66.13,23.84,4.76,7.73,2.72,5.4,4.76,7,2.57,2,6.1-.64,9.59-.46C888.89,507.24,901.58,505.47,900.78,488.77Zm-20.36,14.9c7.38.32,15.65-2.17,18.59-13-2.84,12.61-11.54,14.1-18.59,13Z"
                              transform="translate(-855.81 -468.06)"></path>
                      </g>
                      <path class="cls-2"
                            d="M912.43,475.88h12a7.91,7.91,0,0,1,6.22,2.37,9.81,9.81,0,0,1,1.08,10.52,7.41,7.41,0,0,1-3,3,9,9,0,0,1-4.48,1.08h-5v6.23h-6.77Zm10.26,11.77a3,3,0,0,0,2.33-.88,3.37,3.37,0,0,0,.81-2.36,3.75,3.75,0,0,0-.74-2.47,2.75,2.75,0,0,0-2.22-.88H919.2v6.59Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-2"
                            d="M936.81,496.56q-3-2.87-3-9,0-6.33,3-9.18t8.87-2.84q5.91,0,8.88,2.86t3,9.16q0,6.12-3,9c-2,1.92-4.95,2.88-8.86,2.88S938.8,498.47,936.81,496.56Zm12.61-4.36a7.43,7.43,0,0,0,1.17-4.66c0-2.25-.38-3.86-1.15-4.82a5.68,5.68,0,0,0-7.56,0c-.77,1-1.15,2.57-1.15,4.82a7.43,7.43,0,0,0,1.17,4.66,5.57,5.57,0,0,0,7.52,0Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-2"
                            d="M957,475.88h6.62l2.63,12.27,2.55-8.78v-3.49h5.55l3.53,12.31,2.77-12.31h6.62l-5.36,23.18h-6.12l-3.49-12-3.78,12h-6.12Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-1" d="M989.76,475.88h17.43v5H996.53v4h9.29V490h-9.29v9h-6.77Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-1" d="M1009,475.88h6.76v23.18H1009Z" transform="translate(-855.81 -468.06)">
                      </path>
                      <path class="cls-1" d="M1024.07,480.92h-6.52v-5h19.8v5h-6.51v18.14h-6.77Z"
                            transform="translate(-855.81 -468.06)"></path>
                    </svg>
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 181.54 40"
                         class="astroid-logo-mobile" width="145px">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #cdde6a;
                          }

                          .cls-2 {
                            fill: #fff;
                          }
                        </style>
                      </defs>
                      <g id="Group_4" data-name="Group 4">
                        <path id="Path_1" data-name="Path 1" class="cls-1"
                              d="M884.89,479.75h1.44c1.2,0,2.17-2.61,2.17-5.84s-1-5.85-2.17-5.85h-1.44c1,1.24,1.44,3.6,1.44,5.85S885.87,478.52,884.89,479.75Z"
                              transform="translate(-855.81 -468.06)"></path>
                        <path id="Path_2" data-name="Path 2" class="cls-1"
                              d="M859.43,468.06H858c-1.2,0-2.18,2.62-2.18,5.85s1,5.84,2.18,5.84h1.44c-1-1.23-1.44-3.6-1.44-5.84S858.45,469.3,859.43,468.06Z"
                              transform="translate(-855.81 -468.06)"></path>
                        <path id="Path_3" data-name="Path 3" class="cls-1"
                              d="M900.78,488.77s-8.29-10.67-16.58,0c0,0,5.07.31,6.14,3.87,0,0-4.6-7.11-14.73.92l-2.76,1.86,2-2.63s-.62-4.79-3.07-7.73v-5.77l-.88-.76.88.5s3.33,0,4.72-2.51h3.78c.29,2.79,1.24,4.83,2.36,4.83,1.35,0,2.45-3,2.45-6.64s-1.1-6.65-2.45-6.65c-1.12,0-2.07,2.05-2.36,4.83H877a5.81,5.81,0,0,0-1.75-2.85,1.57,1.57,0,0,0-1.89-.18l-1.54,1a6,6,0,0,0-4,2.06h-4.11c-.3-2.79-1.24-4.84-2.36-4.84-1.36,0-2.46,3-2.46,6.65s1.1,6.64,2.46,6.64c1.12,0,2.06-2,2.36-4.83h3.06c-.76,5.08-4.3,16.66.13,23.84,4.76,7.73,2.72,5.4,4.76,7,2.57,2,6.1-.64,9.59-.46C888.89,507.24,901.58,505.47,900.78,488.77Zm-20.36,14.9c7.38.32,15.65-2.17,18.59-13-2.84,12.61-11.54,14.1-18.59,13Z"
                              transform="translate(-855.81 -468.06)"></path>
                      </g>
                      <path class="cls-2"
                            d="M912.43,475.88h12a7.91,7.91,0,0,1,6.22,2.37,9.81,9.81,0,0,1,1.08,10.52,7.41,7.41,0,0,1-3,3,9,9,0,0,1-4.48,1.08h-5v6.23h-6.77Zm10.26,11.77a3,3,0,0,0,2.33-.88,3.37,3.37,0,0,0,.81-2.36,3.75,3.75,0,0,0-.74-2.47,2.75,2.75,0,0,0-2.22-.88H919.2v6.59Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-2"
                            d="M936.81,496.56q-3-2.87-3-9,0-6.33,3-9.18t8.87-2.84q5.91,0,8.88,2.86t3,9.16q0,6.12-3,9c-2,1.92-4.95,2.88-8.86,2.88S938.8,498.47,936.81,496.56Zm12.61-4.36a7.43,7.43,0,0,0,1.17-4.66c0-2.25-.38-3.86-1.15-4.82a5.68,5.68,0,0,0-7.56,0c-.77,1-1.15,2.57-1.15,4.82a7.43,7.43,0,0,0,1.17,4.66,5.57,5.57,0,0,0,7.52,0Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-2"
                            d="M957,475.88h6.62l2.63,12.27,2.55-8.78v-3.49h5.55l3.53,12.31,2.77-12.31h6.62l-5.36,23.18h-6.12l-3.49-12-3.78,12h-6.12Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-1" d="M989.76,475.88h17.43v5H996.53v4h9.29V490h-9.29v9h-6.77Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-1" d="M1009,475.88h6.76v23.18H1009Z" transform="translate(-855.81 -468.06)">
                      </path>
                      <path class="cls-1" d="M1024.07,480.92h-6.52v-5h19.8v5h-6.51v18.14h-6.77Z"
                            transform="translate(-855.81 -468.06)"></path>
                    </svg> </a>
                </div>
                <!-- image logo ends -->
                <!-- logo ends -->
              </div>
              <div class="header-center-section d-none d-lg-flex justify-content-center flex-lg-grow-1">
                <div class=" align-self-center px-2 d-none d-lg-block">
                  <ul class="nav astroid-nav d-none d-lg-flex">
                    <li data-position="right"
                        class="nav-item nav-item-id-101 nav-item-level-1 nav-item-default nav-item-current nav-item-active no-dropdown-icon">
                      <!--menu link starts-->
                      <a href="index.html" title="Home"
                         class="as-menu-item nav-link-item-id-101 nav-link active item-link-component item-level-1"
                         data-drop-action="hover">
                        <span class="nav-title"> Home </span>
                      </a>
                    </li>




                    <li data-position="right"
                        class="nav-item nav-item-id-102 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown no-dropdown-icon">
                      <!--menu link starts-->

                      <!--menu link ends-->
                      <div style="width: 250px; max-width: 640px; left: inherit; top: 0px; right: -402.5px;"
                           class="megamenu-container nav-submenu-container nav-item-level-1">
                        <ul class="nav-submenu">
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-125 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="/index.php/blog.html" title="Blog Default"
                               class="as-menu-item nav-link-item-id-125 item-link-alias item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Blog Default </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-124 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="/index.php/blog/blog-grid.html" title="Blog Grid"
                               class="as-menu-item nav-link-item-id-124 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Blog Grid </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-150 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="/index.php/blog/blog-list.html" title="Blog List"
                               class="as-menu-item nav-link-item-id-150 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Blog List </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li data-position="right" class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button">
                        <span class="nav-title">Pages</span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <li>
                          <a class="dropdown-item" routerLink="/trainingSession">
                            <span class="nav-title">Training Session</span>
                          </a>
                        </li>
                        <li>
                          <!-- chat -->
                          <a class="dropdown-item" routerLink="/chat">
                            <span class="nav-title">Chat</span>
                          </a>
                        </li>

                      </ul>
                    </li>
                    <li data-position="right"
                        class="nav-item nav-item-id-141 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown no-dropdown-icon">
                      <!--menu link starts-->
                      <a href="index.php/classes.html" title="Classes"
                         class="as-menu-item nav-link-item-id-141 nav-link megamenu-item-link item-link-component item-level-1"
                         data-drop-action="hover">
                        <span class="nav-title">
                          Classes </span>
                      </a>
                      <!--menu link ends-->
                      <div style="width: 250px; max-width: 640px; left: inherit; top: 0px; right: -402.5px;"
                           class="megamenu-container nav-submenu-container nav-item-level-1">
                        <ul class="nav-submenu">
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-142 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="index.php/classes/strength-exercises.html" title="Strength Exercises"
                               class="as-menu-item nav-link-item-id-142 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Strength Exercises </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-143 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="index.php/classes/cardio-training.html" title="Cardio Training"
                               class="as-menu-item nav-link-item-id-143 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Cardio Training </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-144 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="index.php/classes/personal-training.html" title="Personal Training"
                               class="as-menu-item nav-link-item-id-144 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Personal Training </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-145 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="index.php/classes/boxing-workout.html" title="Boxing Workout"
                               class="as-menu-item nav-link-item-id-145 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Boxing Workout </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-146 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="index.php/classes/fitness-training.html" title="Fitness Training"
                               class="as-menu-item nav-link-item-id-146 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Fitness Training </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-147 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="index.php/classes/yoga-fitness.html" title="Yoga Fitness"
                               class="as-menu-item nav-link-item-id-147 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Yoga Fitness </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li data-position="right" class="nav-item nav-item-id-149 nav-item-level-1 no-dropdown-icon">
                      <!--menu link starts-->
                      <a href="index.php/timetable.html" title="Timetable"
                         class="as-menu-item nav-link-item-id-149 nav-link item-link-component item-level-1"
                         data-drop-action="hover">
                        <span class="nav-title">
                          Timetable </span>
                      </a>
                      <!--menu link ends-->
                    </li>
                    <li data-position="right" class="nav-item nav-item-id-101 nav-item-level-1 nav-item-default nav-item-current nav-item-active no-dropdown-icon">
                      <!-- Menu link starts -->
                      <a href="#" title="signup" class="as-menu-item nav-link-item-id-126 nav-link megamenu-item-link item-link-component item-level-1" data-drop-action="hover" id="signupDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="nav-title">
              Sign Up
            </span>
                      </a>

                      <!-- Dropdown Menu -->
                      <ul class="dropdown-menu" aria-labelledby="signupDropdown">
                        <li>
                          <a class="dropdown-item" routerLink="/register" title="Sign up as User">
                            Sign up as a User
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" routerLink="/register-club" title="Sign up as Club">
                            Sign up as a Club
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" routerLink="/register-nutrisonist" title="Sign up as Nutritionist">
                            Sign up as a Nutritionist
                          </a>
                        </li>
                      </ul>
                    </li>

                    <li data-position="right"
                        class="nav-item nav-item-id-126 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown no-dropdown-icon">
                      <!--menu link starts-->
                      <a routerLink="/store" title="Store"
                         class="as-menu-item nav-link-item-id-126 nav-link megamenu-item-link item-link-component item-level-1"
                         data-drop-action="hover">
                        <span class="nav-title">Store</span>
                      </a>
                      <a routerLink="/promotionsfront" title="Promotions" class="as-menu-item nav-link-item-id-149 nav-link item-link-component item-level-1" data-drop-action="hover">
   <span class="nav-title">
                                          Promotions                              </span>
                      </a>

                      <a routerLink="/livraison" class="as-menu-item nav-link-item-id-149 nav-link item-link-component item-level-1" data-drop-action="hover">Livraison</a>
                      <!--menu link ends-->
                      <div style="width: 250px; max-width: 640px; left: inherit; top: 0px; right: -402.5px;"
                           class="megamenu-container nav-submenu-container nav-item-level-1">
                        <ul class="nav-submenu">
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-127 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a routerLink="/store/products" title="Products listing"
                               class="as-menu-item nav-link-item-id-127 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">Products listing</span>
                            </a>
                            <!--menu link ends-->
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="header-right-section d-flex justify-content-end">
                <div class="d-flex ms-lg-4 offcanvas-button offcanvasRight">
                  <a href="#" class="cart-icon me-3" style="position: relative;">
                    <app-cart-counter></app-cart-counter>
                  </a>
                  <!-- Existing Burger Menu Button -->
                  <div class="header-offcanvas-trigger burger-menu-button align-self-center d-block"
                       data-offcanvas="#astroid-offcanvas" data-effect="st-effect-2" data-direction="offcanvasDirLeft"
                       (click)="toggleDropdown()">
                    <button type="button" aria-label="Off-Canvas Toggle" class="button">
                      <span class="box">
                        <span class="inner">
                          <span class="visually-hidden">Off-Canvas Toggle</span>
                        </span>
                      </span>
                    </button>
                  </div>

                  <!-- Dropdown Menu -->
                  <div class="dropdown-menu-custom" *ngIf="isDropdownOpen">
                    <a routerLink="/login" *ngIf="!isLoggedIn()">
                      <i class="fa fa-sign-in-alt"></i> Login
                    </a>

                    <a routerLink="/register" *ngIf="!isLoggedIn()">
                      <i class="fa fa-user-plus"></i> Register
                    </a>



                    <a (click)="logout()" *ngIf="isLoggedIn()">
                      <i class="fa fa-sign-out-alt"></i> Logout
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <!-- header ends --><!-- header starts -->
          <header id="astroid-sticky-header"
                  class="astroid-header astroid-header-sticky header-sticky-desktop header-static-mobile header-static-tablet d-none"
                  data-megamenu="" data-megamenu-class=".has-megamenu" data-megamenu-content-class=".megamenu-container"
                  data-dropdown-arrow="false" data-header-offset="true" data-transition-speed="100"
                  data-megamenu-animation="slide" data-easing="linear" data-astroid-trigger="hover"
                  data-megamenu-submenu-class=".nav-submenu">
            <div class="container d-flex flex-row justify-content-between">
              <div class="d-flex d-lg-none justify-content-start">
                <div class="header-mobilemenu-trigger d-lg-none burger-menu-button align-self-center"
                     data-offcanvas="#astroid-mobilemenu" data-effect="mobilemenu-slide">
                  <button class="button" type="button" aria-label="Mobile Menu Toggle"><span class="box"><span
                    class="inner"><span class="visually-hidden">Mobile Menu Toggle</span></span></span></button>
                </div>
              </div>
              <div class="header-left-section d-flex justify-content-start">
                <!-- logo starts -->
                <!-- image logo starts -->
                <div class="logo-wrapper astroid-logo">
                  <a target="_self" class="astroid-logo astroid-logo-image d-flex align-items-center mr-0 mr-lg-4"
                     href="index-2.html">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 181.54 40"
                         class="astroid-logo-sticky" width="145px" height="60px">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #cdde6a;
                          }

                          .cls-2 {
                            fill: #fff;
                          }
                        </style>
                      </defs>
                      <g id="Group_4" data-name="Group 4">
                        <path id="Path_1" data-name="Path 1" class="cls-1"
                              d="M884.89,479.75h1.44c1.2,0,2.17-2.61,2.17-5.84s-1-5.85-2.17-5.85h-1.44c1,1.24,1.44,3.6,1.44,5.85S885.87,478.52,884.89,479.75Z"
                              transform="translate(-855.81 -468.06)"></path>
                        <path id="Path_2" data-name="Path 2" class="cls-1"
                              d="M859.43,468.06H858c-1.2,0-2.18,2.62-2.18,5.85s1,5.84,2.18,5.84h1.44c-1-1.23-1.44-3.6-1.44-5.84S858.45,469.3,859.43,468.06Z"
                              transform="translate(-855.81 -468.06)"></path>
                        <path id="Path_3" data-name="Path 3" class="cls-1"
                              d="M900.78,488.77s-8.29-10.67-16.58,0c0,0,5.07.31,6.14,3.87,0,0-4.6-7.11-14.73.92l-2.76,1.86,2-2.63s-.62-4.79-3.07-7.73v-5.77l-.88-.76.88.5s3.33,0,4.72-2.51h3.78c.29,2.79,1.24,4.83,2.36,4.83,1.35,0,2.45-3,2.45-6.64s-1.1-6.65-2.45-6.65c-1.12,0-2.07,2.05-2.36,4.83H877a5.81,5.81,0,0,0-1.75-2.85,1.57,1.57,0,0,0-1.89-.18l-1.54,1a6,6,0,0,0-4,2.06h-4.11c-.3-2.79-1.24-4.84-2.36-4.84-1.36,0-2.46,3-2.46,6.65s1.1,6.64,2.46,6.64c1.12,0,2.06-2,2.36-4.83h3.06c-.76,5.08-4.3,16.66.13,23.84,4.76,7.73,2.72,5.4,4.76,7,2.57,2,6.1-.64,9.59-.46C888.89,507.24,901.58,505.47,900.78,488.77Zm-20.36,14.9c7.38.32,15.65-2.17,18.59-13-2.84,12.61-11.54,14.1-18.59,13Z"
                              transform="translate(-855.81 -468.06)"></path>
                      </g>
                      <path class="cls-2"
                            d="M912.43,475.88h12a7.91,7.91,0,0,1,6.22,2.37,9.81,9.81,0,0,1,1.08,10.52,7.41,7.41,0,0,1-3,3,9,9,0,0,1-4.48,1.08h-5v6.23h-6.77Zm10.26,11.77a3,3,0,0,0,2.33-.88,3.37,3.37,0,0,0,.81-2.36,3.75,3.75,0,0,0-.74-2.47,2.75,2.75,0,0,0-2.22-.88H919.2v6.59Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-2"
                            d="M936.81,496.56q-3-2.87-3-9,0-6.33,3-9.18t8.87-2.84q5.91,0,8.88,2.86t3,9.16q0,6.12-3,9c-2,1.92-4.95,2.88-8.86,2.88S938.8,498.47,936.81,496.56Zm12.61-4.36a7.43,7.43,0,0,0,1.17-4.66c0-2.25-.38-3.86-1.15-4.82a5.68,5.68,0,0,0-7.56,0c-.77,1-1.15,2.57-1.15,4.82a7.43,7.43,0,0,0,1.17,4.66,5.57,5.57,0,0,0,7.52,0Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-2"
                            d="M957,475.88h6.62l2.63,12.27,2.55-8.78v-3.49h5.55l3.53,12.31,2.77-12.31h6.62l-5.36,23.18h-6.12l-3.49-12-3.78,12h-6.12Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-1" d="M989.76,475.88h17.43v5H996.53v4h9.29V490h-9.29v9h-6.77Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-1" d="M1009,475.88h6.76v23.18H1009Z" transform="translate(-855.81 -468.06)">
                      </path>
                      <path class="cls-1" d="M1024.07,480.92h-6.52v-5h19.8v5h-6.51v18.14h-6.77Z"
                            transform="translate(-855.81 -468.06)"></path>
                    </svg>
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 181.54 40"
                         class="astroid-logo-mobile" width="145px">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #cdde6a;
                          }

                          .cls-2 {
                            fill: #fff;
                          }
                        </style>
                      </defs>
                      <g id="Group_4" data-name="Group 4">
                        <path id="Path_1" data-name="Path 1" class="cls-1"
                              d="M884.89,479.75h1.44c1.2,0,2.17-2.61,2.17-5.84s-1-5.85-2.17-5.85h-1.44c1,1.24,1.44,3.6,1.44,5.85S885.87,478.52,884.89,479.75Z"
                              transform="translate(-855.81 -468.06)"></path>
                        <path id="Path_2" data-name="Path 2" class="cls-1"
                              d="M859.43,468.06H858c-1.2,0-2.18,2.62-2.18,5.85s1,5.84,2.18,5.84h1.44c-1-1.23-1.44-3.6-1.44-5.84S858.45,469.3,859.43,468.06Z"
                              transform="translate(-855.81 -468.06)"></path>
                        <path id="Path_3" data-name="Path 3" class="cls-1"
                              d="M900.78,488.77s-8.29-10.67-16.58,0c0,0,5.07.31,6.14,3.87,0,0-4.6-7.11-14.73.92l-2.76,1.86,2-2.63s-.62-4.79-3.07-7.73v-5.77l-.88-.76.88.5s3.33,0,4.72-2.51h3.78c.29,2.79,1.24,4.83,2.36,4.83,1.35,0,2.45-3,2.45-6.64s-1.1-6.65-2.45-6.65c-1.12,0-2.07,2.05-2.36,4.83H877a5.81,5.81,0,0,0-1.75-2.85,1.57,1.57,0,0,0-1.89-.18l-1.54,1a6,6,0,0,0-4,2.06h-4.11c-.3-2.79-1.24-4.84-2.36-4.84-1.36,0-2.46,3-2.46,6.65s1.1,6.64,2.46,6.64c1.12,0,2.06-2,2.36-4.83h3.06c-.76,5.08-4.3,16.66.13,23.84,4.76,7.73,2.72,5.4,4.76,7,2.57,2,6.1-.64,9.59-.46C888.89,507.24,901.58,505.47,900.78,488.77Zm-20.36,14.9c7.38.32,15.65-2.17,18.59-13-2.84,12.61-11.54,14.1-18.59,13Z"
                              transform="translate(-855.81 -468.06)"></path>
                      </g>
                      <path class="cls-2"
                            d="M912.43,475.88h12a7.91,7.91,0,0,1,6.22,2.37,9.81,9.81,0,0,1,1.08,10.52,7.41,7.41,0,0,1-3,3,9,9,0,0,1-4.48,1.08h-5v6.23h-6.77Zm10.26,11.77a3,3,0,0,0,2.33-.88,3.37,3.37,0,0,0,.81-2.36,3.75,3.75,0,0,0-.74-2.47,2.75,2.75,0,0,0-2.22-.88H919.2v6.59Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-2"
                            d="M936.81,496.56q-3-2.87-3-9,0-6.33,3-9.18t8.87-2.84q5.91,0,8.88,2.86t3,9.16q0,6.12-3,9c-2,1.92-4.95,2.88-8.86,2.88S938.8,498.47,936.81,496.56Zm12.61-4.36a7.43,7.43,0,0,0,1.17-4.66c0-2.25-.38-3.86-1.15-4.82a5.68,5.68,0,0,0-7.56,0c-.77,1-1.15,2.57-1.15,4.82a7.43,7.43,0,0,0,1.17,4.66,5.57,5.57,0,0,0,7.52,0Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-2"
                            d="M957,475.88h6.62l2.63,12.27,2.55-8.78v-3.49h5.55l3.53,12.31,2.77-12.31h6.62l-5.36,23.18h-6.12l-3.49-12-3.78,12h-6.12Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-1" d="M989.76,475.88h17.43v5H996.53v4h9.29V490h-9.29v9h-6.77Z"
                            transform="translate(-855.81 -468.06)"></path>
                      <path class="cls-1" d="M1009,475.88h6.76v23.18H1009Z" transform="translate(-855.81 -468.06)">
                      </path>
                      <path class="cls-1" d="M1024.07,480.92h-6.52v-5h19.8v5h-6.51v18.14h-6.77Z"
                            transform="translate(-855.81 -468.06)"></path>
                    </svg> </a>
                </div>
                <!-- image logo ends -->
                <!-- logo ends -->
              </div>
              <div class="header-right-section d-flex justify-content-end flex-lg-grow-1">
                <div class=" astroid-nav-wraper align-self-center px-3 d-none d-lg-block ml-auto">
                  <ul class="nav astroid-nav d-none d-lg-flex">
                    <li data-position="right"
                        class="nav-item nav-item-id-101 nav-item-level-1 nav-item-default nav-item-current nav-item-active no-dropdown-icon">
                      <!--menu link starts-->
                      <a href="index.html" title="Home"
                         class="as-menu-item nav-link-item-id-101 nav-link active item-link-component item-level-1"
                         data-drop-action="hover">
                        <span class="nav-title">
                          Home </span>
                      </a>
                      <!--menu link ends-->
                    </li>
                    <li data-position="right"
                        class="nav-item nav-item-id-102 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown no-dropdown-icon">
                      <!--menu link starts-->
                      <a href="/index.php/blog.html" title="Blog"
                         class="as-menu-item nav-link-item-id-102 nav-link megamenu-item-link item-link-component item-level-1"
                         data-drop-action="hover">
                        <span class="nav-title">
                          Blog </span>
                      </a>
                      <!--menu link ends-->
                      <div style="width:250px" class="megamenu-container nav-submenu-container nav-item-level-1">
                        <ul class="nav-submenu">
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-125 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="/index.php/blog.html" title="Blog Default"
                               class="as-menu-item nav-link-item-id-125 item-link-alias item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Blog Default </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-124 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="/index.php/blog/blog-grid.html" title="Blog Grid"
                               class="as-menu-item nav-link-item-id-124 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Blog Grid </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-150 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="/index.php/blog/blog-list.html" title="Blog List"
                               class="as-menu-item nav-link-item-id-150 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Blog List </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li data-position="right" class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button">
                        <span class="nav-title">Pages</span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <li>
                          <a class="dropdown-item" href="index.php/pages/about-us.html">
                            <span class="nav-title">About Us</span>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="index.php/pages/pricing.html">
                            <span class="nav-title">Pricing</span>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="index.php/pages/faqs.html">
                            <span class="nav-title">FAQs</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li data-position="right"
                        class="nav-item nav-item-id-141 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown no-dropdown-icon">
                      <!--menu link starts-->
                      <a href="index.php/classes.html" title="Classes"
                         class="as-menu-item nav-link-item-id-141 nav-link megamenu-item-link item-link-component item-level-1"
                         data-drop-action="hover">
                        <span class="nav-title">
                          Classes </span>
                      </a>
                      <!--menu link ends-->
                      <div style="width:250px" class="megamenu-container nav-submenu-container nav-item-level-1">
                        <ul class="nav-submenu">
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-142 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="index.php/classes/strength-exercises.html" title="Strength Exercises"
                               class="as-menu-item nav-link-item-id-142 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Strength Exercises </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-143 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="index.php/classes/cardio-training.html" title="Cardio Training"
                               class="as-menu-item nav-link-item-id-143 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Cardio Training </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-144 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="index.php/classes/personal-training.html" title="Personal Training"
                               class="as-menu-item nav-link-item-id-144 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Personal Training </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-145 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="index.php/classes/boxing-workout.html" title="Boxing Workout"
                               class="as-menu-item nav-link-item-id-145 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Boxing Workout </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-146 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="index.php/classes/fitness-training.html" title="Fitness Training"
                               class="as-menu-item nav-link-item-id-146 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Fitness Training </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-147 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a href="index.php/classes/yoga-fitness.html" title="Yoga Fitness"
                               class="as-menu-item nav-link-item-id-147 item-link-component item-level-2"
                               data-drop-action="hover">
                              <span class="nav-title">
                                Yoga Fitness </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li data-position="right" class="nav-item nav-item-id-149 nav-item-level-1 no-dropdown-icon">
                      <!--menu link starts-->
                      <a href="index.php/timetable.html" title="Timetable"
                         class="as-menu-item nav-link-item-id-149 nav-link item-link-component item-level-1"
                         data-drop-action="hover">
                        <span class="nav-title">
                          Timetable </span>
                      </a>
                      <!--menu link ends-->
                    </li>
                    <li data-position="right"
                        class="nav-item nav-item-id-126 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown no-dropdown-icon">
                      <!--menu link starts-->
                      <a routerLink="/store" title="Store"
                         class="as-menu-item nav-link-item-id-126 nav-link megamenu-item-link item-link-component item-level-1"
                         data-drop-action="hover">
                        <span class="nav-title">Store</span>
                      </a>


                      <!--menu link ends-->
                      <div style="width:250px" class="megamenu-container nav-submenu-container nav-item-level-1">
                        <ul class="nav-submenu">
                          <li data-position="right"
                              class="nav-item-submenu nav-item-id-127 nav-item-level-2 no-dropdown-icon">
                            <!--menu link starts-->
                            <a routerLink="/store/products" title="Products listing"
                               class="as-menu-item nav-link-item-id-127 item-link-component item-level-2"
                               data-drop-action="hover"> <span class="nav-title">
                                Products listing </span>
                            </a>
                            <!--menu link ends-->
                          </li>
                        </ul>
                      </div>
                    </li>














                  </ul>
                </div>
                <div class="d-flex ms-4 offcanvas-button offcanvasRight">
                  <div class="header-offcanvas-trigger burger-menu-button align-self-center d-block"
                       data-offcanvas="#astroid-offcanvas" data-effect="st-effect-2" data-direction="offcanvasDirLeft">
                    <button type="button" aria-label="Off-Canvas Toggle" class="button">
                      <span class="box">
                        <span class="inner"><span class="visually-hidden">Off-Canvas Toggle</span></span>
                      </span>
                    </button>
                    <app-cart-counter></app-cart-counter>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <!-- header ends -->
        </div>
      </div>
    </div>
  </div>
</section>
