<div class="container">
  <h2>Products</h2>

  <div class="product-grid">
    <div *ngFor="let product of products" class="product-card">
      <p class="description">{{ product.description }}</p> <!-- Description -->
      <img *ngIf="product.imageUrl" [src]="product.imageUrl" [alt]="product.name" class="product-image">
      <h3>{{ product.name }}</h3>
      <p>Price: {{ product.price | currency }}</p>
      <button class="add-to-cart" (click)="addToCart(product)">

        Add to Cart
      </button>
    </div>
  </div>
  <div *ngIf="products.length === 0">
    No products found in this category.
  </div>

  <div class="checkout-section">
    <button
      (click)="proceedToCheckout()"
      [disabled]="cartCount === 0"
      class="checkout-button"
    >
      Proceed to Checkout ({{ cartCount }} items)
    </button>
  </div>
</div>
