<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      

   
    </div>


    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item active">
        <a href="index.html" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>

  


      <!-- Forms & Tables -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Gestion des Clubs &amp; kolchay</span></li>
      <!-- Forms -->
      <li class="menu-item">
        <ul >
          <li class="menu-item">
            <a routerLink="/admin/sports-management" class="menu-link">
              <div data-i18n="Basic Inputs">sports-management</div>
            </a>
          </li>
          <li class="menu-item">
            <a routerLink="/admin/packs-management" class="menu-link">
              <div data-i18n="Input Groups">packs-management</div>
            </a>
          </li>
          <li class="menu-item">
            <a routerLink="/admin/clubs-management" class="menu-link">
              <div data-i18n="Input Groups">clubs-management</div>
            </a>
          </li>
          <li class="menu-item">
            <a routerLink="/admin/clubrequests-management" class="menu-link">
              <div data-i18n="Input Groups">clubrequests-management</div>
            </a>
          </li>
          <li class="menu-item">
            <a routerLink="/admin/abonnementrequests-management" class="menu-link">
              <div data-i18n="Input Groups">abonnementrequests-management</div>
            </a>
          </li>
          <li class="menu-item">
            <a routerLink="/admin/abonnement-management" class="menu-link">
              <div data-i18n="Input Groups">abonnement-management</div>
            </a>
          </li>
        
        
         
        </ul>
      </li>
   
    
    </ul>
  </aside>