<div class="container mt-4">
    <h2>{{isEditing ? 'Edit' : 'Add New'}} Pack</h2>
    
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>

    <form [formGroup]="packForm" (ngSubmit)="onSubmit()" class="mt-3">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" 
                   id="name"
                   class="form-control" 
                   formControlName="name"
                   [class.is-invalid]="packForm.get('name')?.invalid && packForm.get('name')?.touched">
            <div class="invalid-feedback" *ngIf="packForm.get('name')?.errors?.['required']">
                Name is required
            </div>
            <div class="invalid-feedback" *ngIf="packForm.get('name')?.errors?.['minlength']">
                Name must be at least 3 characters
            </div>
        </div>
        
        <div class="mb-3">
            <label for="duration" class="form-label">duration</label>
            <textarea id="duration"
                      class="form-control" 
                      formControlName="duration" 
                      rows="3"
                      [class.is-invalid]="packForm.get('duration')?.invalid && packForm.get('duration')?.touched">
            </textarea>
            <div class="invalid-feedback" *ngIf="packForm.get('duration')?.errors?.['required']">
                Duration is required
            </div>
            <div class="invalid-feedback" *ngIf="packForm.get('duration')?.errors?.['minlength']">
                Duration must be at least 1
            </div>
        </div>




        <div class="mb-3">
            <label for="price" class="form-label">price</label>
            <textarea id="price"
                      class="form-control" 
                      formControlName="price" 
                      rows="3"
                      [class.is-invalid]="packForm.get('price')?.invalid && packForm.get('price')?.touched">
            </textarea>
            <div class="invalid-feedback" *ngIf="packForm.get('price')?.errors?.['required']">
                Price is required
            </div>
            <div class="invalid-feedback" *ngIf="packForm.get('price')?.errors?.['minlength']">
                Price must be at least 0 
            </div>
        </div>
        <div class="mt-4">
            <button type="submit" 
                    class="btn btn-primary" 
                    [disabled]="!packForm.valid || packForm.pristine">
                {{isEditing ? 'Update' : 'Create'}}
            </button>
            <button type="button" 
                    class="btn btn-secondary ms-2" 
                    routerLink="/admin/packs-management">
                Cancel
            </button>
        </div>
    </form>
</div>
