<div class="card" style="margin: 20px;">
  <h5 class="card-header d-flex justify-content-between align-items-center" style="margin-bottom: 10px;">
    Users
    <div style="margin-left: 15px;">
      <label class="form-check-label" for="sortSessions">
        Sort by most active
        <input
          type="checkbox"
          class="form-check-input"
          id="sortSessions"
          (change)="onFilterChange($event)"
        />
        
      </label>
    </div>
  </h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead class="table-light">
        <tr>
          <th>username</th>
          <th>Email</th>
          <th>roles</th>
          <th>Status</th>
          <th>Nb sessions</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr *ngFor="let user of filteredUsers">
          <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ user.name }}</strong></td>
          <td>{{ user.email }}</td>
          <td>{{ user.roles }}</td>
          <td>
            <span class="badge me-1" [ngClass]="{
              'bg-label-success': user.enabled && !user.isBlocked,
              'bg-label-warning': user.enabled && user.isBlocked,
              'bg-label-danger': !user.enabled
            }">
              {{ user.isBlocked ? 'Blocked' : (user.enabled ? 'Active' : 'Inactive') }}
            </span>
          </td>
          
          <td>{{ user.sessions }}</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="deleteUser(user.id)">
                  <i class="bx bx-trash me-1"></i> Delete
                </a>
                <a class="dropdown-item" (click)="toggleBlockUser(user)">
                  <i class="bx bx-lock me-1"></i>
                  {{ user.isBlocked ? 'Unblock' : 'Block' }}
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
