.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .list-group-item {
    font-size: 1rem;
  }
  
  .badge {
    font-size: 0.9rem;
  }
  .text-white {
    color: white;
  }